<!DOCTYPE html>
<html ng-app="app">
	<head>
    	<title><%= title %></title>
    	<!-- inject-vendor:css -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/ng-tags-input.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/ng-tags-input.bootstrap.css" />
		<!-- endinject -->

		<!-- inject:css -->
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<!-- endinject -->
	</head>
	<body>
		<header class="page-header">
			<h1 class="text-center"><%= title %></h1>
		</header>
		<div>
			<div ng-include="'app/layout/shell.html'"></div>
		</div>
		<!-- inject-vendor:js -->
		<script type="text/javascript" src="/javascripts/angular.min.js"></script>
		<script type="text/javascript" src="/javascripts/moment.js"></script>
		<script type="text/javascript" src="/javascripts/angular-moment.js"></script>
		<script type="text/javascript" src="/javascripts/ng-tags-input.js"></script>
		<script type="text/javascript" src="/javascripts/angular-tablesort.js"></script>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<!-- endinject -->

		<!-- inject:js -->
		<!-- bootstrapping -->
		<script type="text/javascript" src="/app/app.module.js"></script>

		<!-- core module -->
		<script type="text/javascript" src="/app/core/core.module.js"></script>
		<script type="text/javascript" src="/app/core/dataservice.js"></script>

		<!-- layout module -->
		<script type="text/javascript" src="/app/layout/layout.module.js"></script>
		<script type="text/javascript" src="/app/layout/shell.js"></script>

		<!-- expenses module -->
		<script type="text/javascript" src="/app/expenses/expenses.module.js"></script>
		<script type="text/javascript" src="/app/expenses/add.expenses.directive.js"></script>

		<!-- endinject -->
	</body>
</html>
