<!-- =============================================================================== -->
<!-- Expense EDIT Modal -->
<!-- =============================================================================== -->
<!-- Modal for Expense Detail -->
<div class="modal fade" id="expEditModal.html" tab-index="-1" >
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Expense Detail - {{vm.activeExpense.paidTo}} for {{vm.activeExpense.amount | currency}}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="editDateIncurred" class="col-sm-2 control-label">Date Incurred</label>
						<div class="col-sm-3">
							<input type="date" class="form-control" id="editDateIncurred" ng-model="vm.activeExpense.dateInput">
						</div>
						<label for="editTransactionType" class="col-sm-3 control-label">Transaction Type</label>
						<div class="col-sm-4">
							<select id="editTransactionType" class="form-control" ng-model="vm.activeExpense.transactionType">
								<option>pinnen</option>
								<option>credit card</option>
								<option>cash</option>
								<option>bank transfer</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="editPaidTo" class="col-sm-2 control-label">Paid To</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="editPaidTo" ng-model="vm.activeExpense.paidTo">
						</div>
						<label for="editImportance" class="col-sm-2 control-label">Importance</label>
						<div class="col-sm-3">
							<select id="editImportance" class="form-control" ng-model="vm.activeExpense.importance">
								<option>Critical</option>
								<option>High</option>
								<option>Medium</option>
								<option>Low</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="editTags" class="col-sm-2 control-label">Tags</label>
						<div class="col-sm-6">
							<tags-input ng-model="vm.activeExpense.ngTags">
								<auto-complete source="vm.loadTags($query)"></auto-complete>
							</tags-input>
						</div>
						<label for="editAmount" class="col-sm-2 control-label">Amount</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="editAmount" ng-model="vm.activeExpense.amount">
						</div>
					</div>
					<div class="form-group">
						<label for="editMemo" class="col-sm-2 control-label">Memo</label>
						<div class="col-sm-10">
							<textarea class="form-control" id="editMemo" ng-model="vm.activeExpense.memo"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="vm.allowDelete">Allow Delete
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.deleteActiveExpense()" ng-show="vm.allowDelete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.closeModal()">Close</button>
				<button type="button" class="btn btn-warning" ng-click="vm.editActiveExpense()" data-dismiss="modal"><span class="glyphicon glyphicon-upload"></span> Edit</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div> <!-- /.modal -->

<!-- =============================================================================== -->
